NEXT_PUBLIC_APP_ENV=
NEXT_PUBLIC_API_BASE_URL=

# Jira
JIRA_BASE_URL=
JIRA_USER_EMAIL=
JIRA_API_TOKEN=

JIRA_PROJECT_KEY=
JIRA_TBC_STUCK_DAYS=
JIRA_VERIFY_STUCK_DAYS=

# Google Sheet
GSHEET_WEBAPP_URL=
GSHEET_SECRET=